/* 
.container{
    padding: 0px 100px 0px 100px;
} */

.carousel1{
    /* width: 100px; */
    height: 500px;
    background-color: tomato;
    /* content: url('../../resources/images/1.png'); */
}
.carouselTop{
    position: relative;
    top:-64px;
    
}

#caoruselelem{
    height: 600px;
    position: absolute;
}

.carouselButton{
    position: relative;
    top: -200px;
}